{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GET Demo</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
    {% include 'partials/_topbar.html' %}
    <div class="container">
        <div class="jumbotron">
            <form method="GET" align="center">
                <label for="name">Name:</label>
                <input type="text" name="name" id="name">
                <input type="submit" value="submit">
            </form>
            <pre align="center">{{name}}</pre>
        </div>
    </div>
    {% include 'partials/_footbar.html' %}
</body>
</html>